{% extends 'base.html' %}
{% block main %}
<div class="card-group">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id_persona.nombre}}</td>
                    <td>{{cliente.id_persona.apellido}}</td>
                    <td>{{cliente.id_persona.edad}}</td>
                    <td>{{cliente.id_persona.telefono}}</td>
                    <td>{{cliente.id_persona.email}}</td>
                    <td>{{cliente.id_persona.domicilio}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td><a href="editar_cliente/{{cliente.id_cliente}}">Editar</a><b>/</b><a href="eliminar_cliente/{{cliente.id_cliente}}">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}