.form-caja-minuta {
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgb(230, 162, 61);
    border: 0;
    border-radius: 0;
}

.table-caja {
    border: 1px solid black;
}

.contenedor {
    display: inline-block;
    min-width: 80px;
}

td {
    padding 0;
}