{% extends 'base.html' %}
{% block main %}
<div class="card-group">
    <div class="card">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Domicilio</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td>{{persona.edad}}</td>
                    <td>{{persona.telefono}}</td>
                    <td>{{persona.email}}</td>
                    <td>{{persona.domicilio}}</td>
                    <td><a href="editar_persona/{{persona.id_persona}}">Editar</a><b>/</b><a href="eliminar_persona/{{persona.id_persona}}">Borrar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}